Flask
joblib
loguru
nolds
numpy
omegaconf
Requests
rich
scikit_learn
scipy
tqdm
mysql-connector-python==9.2.0
scipy
scikit-learn
reportlab==4.3.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
markdown
ollama